<h3>Listado de proveedores</h3>
<div class="table-responsive-xl">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="filter">
                <th colspan="8" class="text-right">
                    <div class="text-right">      
                        <a class="btn btn-primary mb-2" routerLink="/addprovee">Agregar proveedor</a> 
                    </div>
                </th>
            </tr>

            <tr class="filters">
                <th>Nombre</th>
                <th>Correo Electrónico</th>
                <th>Telefono</th>
                <!-- <th>Key</th> -->
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let proveedor of proveedoresService.proveedoress">
                <td>{{ proveedor.nombre }}</td>
                <td><a href="mailto:{{ proveedor.email}}">{{ proveedor.email }}</a></td>
                <td>{{ proveedor.telefono }}</td>
                <!-- <td> <pre>{{proveedor.key | json}}</pre></td> -->

                <td>
                    <button type="button" class="btn btn-success" [routerLink]="['/editprovee', proveedor.key]">
                        Editar
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="removeProvedor(proveedor.key)">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>

    </table>
  </div>