<h3>Listado de Proveedores</h3>
<a class="btn btn-primary float-md-right mb-2" routerLink="/addprovee">Añadir nuevo proveedor</a>
<div class="table-responsive-sm">
    <table class="table table-bordered table-striped tabla mt-3">
        <thead>
            <tr class="filters">
                <th>Nombre</th>
                <th>Correo Electrónico</th>
                <th>Telefono</th>
                <th>Key</th>
                <th>Editar</th>
                <!-- <th>Eliminar</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let proveedor of proveedores$ | async">
                <td>{{ proveedor.payload.val().nombre }}</td>
                <td><a href="mailto:{{ proveedor.email}}">{{ proveedor.payload.val().email }}</a></td>
                <td>{{ proveedor.payload.val().telefono }}</td>
                <!-- <td> <pre>{{proveedor.key | json}}</pre></td> -->
               
                <td>
                    <button type="button" class="btn btn-success"  [routerLink]="[ '/editprovee']" > 
                        Editar
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="removeProvedor(proveedor.key)">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>