<h3>Listado de Presupuestos</h3>

<div class="table-responsive-sm">
    <div class="text-right">
        <a class="btn btn-primary " routerLink="/addpres">Añadir nuevo presupuesto</a>
    </div>
    <table class="table table-bordered table-striped tabla mt-3">
        <thead>
            <tr class="filters">
                <th>Proveedor</th>
                <th>Fecha</th>
                <th>Concepto</th>
                <th>Base</th>
                <th>IVA</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let presupuesto of presupuestoss | async">
                <td>{{ presupuesto.payload.val().proveedor }}</td>
                <td>{{ presupuesto.payload.val().fecha }}</td>
                <td>{{ presupuesto.payload.val().concepto }}</td>
                <td>{{  presupuesto.payload.val().base }}</td>
                <td>{{  presupuesto.payload.val().iva }}</td>
                <td>{{  presupuesto.payload.val().total }}</td>
                <td>
                    <button type="button" class="btn btn-success" [routerLink]="['/editpres', presupuesto.key]">
                        Editar
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="eliminarPresupuesto(presupuesto.id$)">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>