<h3>Listado de Presupuestos</h3>

<div class="table-responsive-xl">


    <table class="table table-bordered table-striped">
        <thead>
            <tr class="filters">
                <th colspan="8" class="text-right">
                    <div class="text-right">
                        <a class="btn btn-primary mb-2" routerLink="/addpres">Agregar presupuesto</a> 
                    </div>
                </th>
            </tr>

            <tr class="filters">
                <th>Proveedor</th>
                <th>Fecha</th>
                <th>Concepto</th>
                <th>Base</th>
                <th>IVA</th>
                <th>Total</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
             <tr *ngFor="let presupuesto of this.presupuestosService.presupuestoss | paginate : {
                itemsPerPage: cantidadItemPagina,
                currentPage: paginaActual,
                totalItems: cantidadItem
              }; let i = index" [class.active]="i == currentIndex">
                <td>{{  presupuesto.proveedor }}</td>
                <td>{{  presupuesto.fecha  }}</td>
                <td>{{  presupuesto.concepto  }}</td>
                <td>{{  presupuesto.base   }}</td>
                <td>{{  presupuesto.iva }}</td>
                <td>{{  presupuesto.total }}</td>
               
                <td>
                    <button type="button" class="btn btn-success" [routerLink]="['/editpres', presupuesto.key]">
                        Editar
                    </button>
                </td>

                <td>
                    <button class="btn btn-danger" (click)="eliminarPresupuesto(presupuesto.key)">
                        Eliminar
                    </button>
                </td> 
            </tr>
        </tbody>
    
    </table>
    <div class="d-flex justify-content-center">
        <pagination-controls 
          responsive="true" 
          previousLabel="Anterior" 
          nextLabel="Siguiente" 
          (pageChange)="cambiarPagina($event)">
        </pagination-controls>
      </div>
  </div>
